<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>eCitizen: Heat-map</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      body {
        padding-top: 70px;
      }
    </style>
	 </head>

  <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">eCitizen</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/upload_shot"><span class="label label-success"><strong>+</strong></span> upload a picture</a></li>
            <li><a href="/map">map</a></li>
            <li><a href="/heat">heat map</a></li>
  			    <li><a href="/stats">statistics</a></li>
  			    <li><a href="/best_users">best users</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

    <div class="container">
    <h1>Top users</h1>
    <hr>

   <form method="get" action="/best_users">
   Select a category:
   <select name="category" id="category" onchange="this.form.submit()">
      <option value="all" {% if selcat == "all" %}selected{% endif %}>All</option>
      <option value="graffiti" {% if selcat == "graffiti" %}selected{% endif %}>Graffiti</option>
      <option value="broken_streets" {% if selcat == "broken_streets" %}selected{% endif %}>Broken Streets</option>
      <option value="broken_labels" {% if selcat == "broken_labels" %}selected{% endif %}>Broken labels</option>
      <option value="fire" {% if selcat == "fire" %}selected{% endif %}>Fire</option>
      <option value="lighting" {% if selcat == "lighting" %}selected{% endif %}>Lighting</option>
      <option value="garbage" {% if selcat == "garbage" %}selected{% endif %}>Garbage</option>
    </select>
    </form>

    <h2>{{category}}</h2>
     <div style="margin-left:20px">
     {% for user in records %}
     {{user[0]}}
     <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{user[1]*100/maximum|int}}" aria-valuemin="0" aria-valuemax="100" style="width: {{user[1]*100/maximum|int}}%;">{{user[1]}} posts
        </div>
      </div>
     {% endfor %}
    </ul>
   </div>
 </div>
      <div class="inner" style="text-align: center; color: white;">
        <p>Michele, Nikola, Veselin and Yazan @ Great Uni Hackaton Manchester 2015.</p>
      </div>
    </div>  

  </body>
</html>