{% set active_page = 'heat_map' %}
{% extends "base.html" %}

{% block title %}Heat map{% endblock %}
{% block style %}
<style>
  #map-canvas {
    height: 95%;
    margin: 0px;
    padding: 0px
  }
  #panel {
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
  }
</style>
{% endblock %}

{% block script %}
<script>
  // Adding data points
  var map, pointarray, heatmap;
  var taxiData = [
    {% for s in records %}{% if s[1] == request.args.get('type') or request.args.get('type', '') == '' %}
    new google.maps.LatLng({{s[4]}},{{s[3]}}),{% endif %}{%endfor %}
  ];

  function initialize() {
    var mapOptions = {
      zoom: 14,
      center: new google.maps.LatLng(53.4793,-2.2479),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

    if(navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.setCenter(pos);
      mapLoaded = 1;
    });
    }

    var pointArray = new google.maps.MVCArray(taxiData);
    heatmap = new google.maps.visualization.HeatmapLayer({
      data: pointArray
    });
    heatmap.setMap(map);
    heatmap.set('radius', 20);
    heatmap.set('opacity', 0.5);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-right">
  <li><a>Radius (<span id="radius">20</span>):</a></li>
  <li style="margin-top:16px">><input id="S" type="text" class="dropdown-toggle" data-slider-value="20" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-tooltip="hide"></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filter by type <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/heat">All</a></li>
      <li><a href="/heat?type=graffiti">Graffiti</a></li>
      <li><a href="/heat?type=broken_streets">Broken streets</a></li>
      <li><a href="/heat?type=broken_labels">Broken labels</a></li>
      <li><a href="/heat?type=fire">Fire</a></li>
      <li><a href="/heat?type=lighting">Lighting</a></li>
      <li><a href="/heat?type=garbage">Garbage</a></li>
    </ul>
  </li>
</ul>
{% endblock %}

{% block container %}
<div id="map-canvas"></div>
<script>
$("#S").slider();
$("#S").on("slide", function(slideEvt) {
  heatmap.set('radius', slideEvt.value);
  $('#radius').text(slideEvt.value);
});
</script>
{% endblock %}