{% set active_page = 'index' %}
{% extends "base.html" %}

{% block title %}the conscientious citizen{% endblock %}
{% block style %}
<style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
  .jumbotron {
    text-align: center;
    background-color: transparent;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
</style>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-lg-12">
  <img class="img-responsive img-rounded" src="/static/gfx/logo.png" />
</div>
{% endblock %}