<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">eCitizen</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/upload_shot"><span class="label label-success"><strong>+</strong></span> upload a picture</a></li>
            <li><a href="/map">map</a></li>
            <li><a href="/heat">heat map</a></li>
            <li><a href="/stats">statistics</a></li>
            <li><a href="/best_users">best users</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
<script>
braintree.setup(
 "{{token}}",
  'dropin', {
    container: 'dropin'
  });

var braintree = Braintree.create('MIIBCgKCAQEA48weSYg6L9o6EUFKZ4WZ4/x5WdQufP/pZ6B7bz0Zrv6isJh8hEOfHjJy+dkC+4liamtGLjbASJfaJxSrjW033Zg24UM95yUQ0YeLmWbU8lg/pq0sLxVitZkWVjlJC5M/i1mMIf++UNiz6o3h1sJbpIIrKRFC3Fg+zDHkVyOuJHp9q7LP4xBn3OextBRR+7VphlEoMiBwjY2nAmDJm/GBSvi6vn/iAJ/SVqfk2CXeMRoHw8QqVMsV/QweblGK9RlV3qhJ3f6Thb7DksiNTvPu1/WROZRyRXelx8czO0kQRap0BlK2QE2Kmymeg8hR1eOYeNphgO87gCvcACPWlkAaUQIDAQAB');
</script>

<form style="margin-top:100px;" id="checkout" method="post" action="/purchases">
  <div id="dropin"></div>
  <input type="submit" value="Pay $10">
</form>
 <div class="navbar-inverse navbar-fixed-bottom">
      <div class="inner" style="text-align: center; color: white;">
        <p>Michele, Nikola, Veselin and Yazan @ Great Uni Hackaton Manchester 2015.</p>
      </div>
    </div> 
</body>
</html>