<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/static/css_js/magnific-popup.css"> 

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="/static/css_js/jquery.min.js"></script> 
	<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
		   <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
	  var graffity_count = 0;
	  var brokenStreet_count =0;
	  var brokenLabel_count = 0;
	  var fire_count =0;
	  var lightning_count = 0;
	  var garbidge_count = 0;
	  var total_count = 0;

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['TimeStamp', 'Number of entries'],
		  {% for s in records %}
          [{{s[6]}},  total_count=total_count+1 ],
		  {% endfor %}
        ]);

        var options = {
          title: 'Number of entries',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
	 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
		{% for s in records %}
          if({{s[1]}}=="graffity")
			graffity_count=graffity_count+1;
		  if({{s[1]}}=="broken_streets")
			brokenStreet_count=brokenStreet_count+1;
		  if({{s[1]}}=="broken_labels")
			brokenLabel_count=brokenLabel_count+1;
		  if({{s[1]}}=="fire")
			fire_count=fire_count+1;
		  if({{s[1]}}=="lighting")
			lightning_count=lightning_count+1;
		  if({{s[1]}}=="garbage")
			garbidge_count=garbidge_count+1;	
			
		{% endfor %}

        var data = google.visualization.arrayToDataTable([
          ['Problem', 'Number of Entries'],
          ['Graffiti',     graffity_count],
          ['Broken Streets',      brokenStreet_count],
          ['Broken labels',  brokenLabel_count],
          ['Fire', fire_count],
          ['Lighting',    lightning_count],
		  ['Garbage',    garbidge_count],
        ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
	</head>
	<body>
	
	
	</body>
	
	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">eCitizen</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/map">map</a></li>
            <li ><a href="/heat">heat map</a></li>
			<li><a href="#" class="active">stats</a></li>
            <li><a href="/about">about</a></li>
			
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
	
	 <div id="piechart" style="width: 900px; height: 500px;"></div>

    <!-- FOOTER -->
    <div class="navbar-inverse navbar-fixed-bottom">
      <div class="inner" style="text-align: center; color: white;">
        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </div>
</body>
</html>
