<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <title>eCitizen: Post a picture</title>
</head>
<body class="gradient">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">eCitizen</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="/upload_shot"><span class="label label-success"><strong>+</strong></span> upload a picture</a></li>
            <li><a href="/map">map</a></li>
            <li><a href="/heat">heat map</a></li>
			<li><a href="/stats">statistics</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
        <div class="page-header" style="margin-top:80px"><h1>Report your problem below: </h1></div>
        <section>
            <form enctype="multipart/form-data" method="post" action="/upload">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <select name="category" id="category">
                              <option value="graffiti">Graffiti</option>
                              <option value="broken_streets">Broken Streets</option>
                              <option value="broken_labels">Broken labels</option>
                              <option value="fire">Fire</option>
                              <option value="lighting">Lighting</option>
                              <option value="garbage">Garbage</option>
                            </select>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <label for="username">User name *:</label>
                            <input type="text" name="username" class="form-control" id="username" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <label for="latitude">Latitude:</label>
                            <input type="text" class="form-control" id="latitude" name="latitude" disabled />
                            <label for="longtitude">Longitude:</label>
                            <input type="text" class="form-control" id="longitude" name="longitude" disabled />
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <label for="shot_file">Add picture:</label>
                            <input type="file" name="shot_file" id="shot_file" />
                            <br />
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn">Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
	<div class="navbar-inverse navbar-fixed-bottom">
      <div class="inner" style="text-align: center; color: white;">
        <p>Michele, Nikola, Veselin and Yazan @ Great Uni Hackaton Manchester 2015.</p>
      </div>
    </div>  
</body>
</html>